<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <link rel="stylesheet" type="text/css" href="styling.css">
    <link rel="stylesheet" type="text/css" href="switch.css">
    <link rel="stylesheet" href="angular-material.min.css">

</head>
<body>
    <h1>FONGMUN</h1>
    <div id="GodModeDiv" ng-app="fmApp" ng-controller="fmCtrl" style="color: white">
        <button ng-click="getData()">Load</button>
        <button ng-click="updateData()">Update</button>
        <button ng-click="addResource()">Add Resource</button>
        <lable>Long</lable>
        <input type="number" ng-model="resource.loc[0]" style="width: 60px">
        <lable>Lat</lable>
        <input type="number" ng-model="resource.loc[1]" style="width: 60px">
        <lable>Cost</lable>
        <input type="number" ng-model="resource.cost" style="width: 60px">
        <lable>a</lable>
        <input type="number" ng-model="resource.award.a" style="width: 60px">
        <lable>b</lable>
        <input type="number" ng-model="resource.award.b" style="width: 60px">
        <lable>c</lable>
        <input type="number" ng-model="resource.award.c" style="width: 60px">
        <lable>d</lable>
        <input type="number" ng-model="resource.award.d" style="width: 60px">
        <lable>x</lable>
        <input type="number" ng-model="resource.award.x" style="width: 60px">
        <lable>y</lable>
        <input type="number" ng-model="resource.award.y" style="width: 60px">
        <lable>z</lable>
        <input type="number" ng-model="resource.award.z" style="width: 60px">
        <lable>Range</lable>
        <input type="number" ng-model="resource.range" style="width: 40px">
        <div ng-repeat="x in ngCountryData" style="padding: 10px; color: white">
            <lable>Name</lable>
            <input ng-model="x.name" size="6">
            <lable>Fog</lable>
            <input type="number" ng-model="x.troop.fogR" style="width: 40px">
            <lable>AtkR</lable>
            <input type="number" ng-model="x.troop.attackR" style="width: 40px">
            <lable>xAtk</lable>
            <input type="number" ng-model="x.multipliers.atk" style="width: 40px">
            <lable>xHP</lable>
            <input type="number" ng-model="x.multipliers.hp" style="width: 40px">
            <lable>x$</lable>
            <input type="number" ng-model="x.multipliers.money" style="width: 40px">
            <lable>Income</lable>
            <input type="number" ng-model="x.income" style="width: 60px">
            <lable>Money</lable>
            <input type="number" ng-model="x.money" style="width: 80px">
            <lable>$/troop</lable>
            <input type="number" ng-model="x.troopCost" style="width: 60px">
            <lable>Nuclear</lable>
            <input type="checkbox" ng-model="x.nuclear">
            <br>
            <lable>a</lable>
            <input type="number" ng-model="x.resource.a" style="width: 60px">
            <lable>b</lable>
            <input type="number" ng-model="x.resource.b" style="width: 60px">
            <lable>c</lable>
            <input type="number" ng-model="x.resource.c" style="width: 60px">
            <lable>d</lable>
            <input type="number" ng-model="x.resource.d" style="width: 60px">
            <lable>x</lable>
            <input type="number" ng-model="x.resource.x" style="width: 60px">
            <lable>y</lable>
            <input type="number" ng-model="x.resource.y" style="width: 60px">
            <lable>z</lable>
            <input type="number" ng-model="x.resource.z" style="width: 60px">
            <span>EnemyList</span>
            <label ng-repeat="enemy in x.enemyList">{{enemy}}</label>
        </div>
    </div>

    <script src="d3.v5.min.js"></script>
    <script src="topojson.v3.min.js"></script>
    <script src="d3-array.v1.min.js"></script>
    <script src="d3-geo.v1.min.js"></script>
    <script src="jquery.min.js"></script>
    <script src="d3-queue.v3.min.js"></script>
    <script src="d3-request.v1.min.js"></script>
    <script src="d3-transition.v1.min.js"></script>
     <!-- AngularJS Material Dependencies -->
    <script src="angular.min.js"></script>
    <script src="angular-animate.min.js"></script>
    <script src="angular-aria.min.js"></script>
    <script src="angular-messages.min.js"></script>

    <!-- AngularJS Material Javascript now available via Google CDN; version 1.1.4 used here -->
    <script src="angular-material.min.js"></script>
    <script>
        var app = angular.module("fmApp", []);
        app.controller("fmCtrl", function($scope, $interval, $timeout, $filter) {
            $scope.resource = {
                "loc": [0,0],
                "cost": 10000,
                "award": {
                    "a": 100,
                    "b": 100,
                    "c": 100,
                    "d": 100,
                    "x": 100,
                    "y": 100,
                    "z": 100
                  },
                "range": 10
            };
            $scope.addResource = function(){
                $.post(`${serverURL}/addResourcePoint`,JSON.parse(angular.toJson($scope.resource)));
            }
            $scope.getData = function(){
                $.get(`${serverURL}/allCountries`, function (data, status) {
                    $scope.ngCountryData = data;
                });
            }
            $scope.updateData = function(){
                // console.log($scope.ngCountryData);
                var selectCountry = prompt("Enter the target country:");
                if (selectCountry == null || selectCountry == "") {
                    alert("update cancelled");
                }
                else if (!totalCountryList.includes(selectCountry)){
                    alert("Invalid country");
                } 
                else {
                    var returnData = JSON.parse(angular.toJson($scope.ngCountryData));
                    returnData = returnData.find(function(d){ return d.name == selectCountry; });
                    console.log(returnData);
                    $.post(`${serverURL}/modCountry`,returnData);
                    $timeout(function () {
                        $scope.getData();
                        alert("Update success");
                    }, 2000);
                }
            }
        });
    </script>
    <script>
    var body = d3.select("body");
    // body.append("p")
    //     .attr("id","timerP")
    //     .html("Round 1 Current Time: 10:00");
    body.append("div")
        .attr("class","techtree")
        .append("button")
        .attr("class","ctrl-standard fx-bubbleUp")
        .html("Tech<br>Tree")
        .on("mousedown", function(d){
            d3.select("#GodModeDiv").style("display", function(){
                if (d3.select("#GodModeDiv").style("display") == "none") {
                    return "block";
                }
                else{
                    return "none";
                }
            });
        });
    body.append("div")
        .attr("class","logout")
        .append("button")
        .attr("class","ctrl-standard fx-bubbleDown")
        .html("Log<br>Out");
    d3.select(window)
        .on("mousemove", mousemove)
        .on("mouseup", mouseup)
        .on("keydown", function(){
            if (d3.event.keyCode == 27) {
                currentTroop = null;
                setSelectedAsNone();
            }
        });

    // var width = 960, height = 500;
    var width = screen.width * 0.95, height = screen.height * 0.95;

    var proj = d3.geoOrthographic()
        .scale(height/2)
        .translate([width / 2, height / 2])
        .clipAngle(90);
    var preD, postD, pntD;
    // projection(location): that coordinates -> cartesian coordinates in pixels
    // projection.invert(point): cartesian coordinates [x,y] -> [longtitude, latitude]
    // projection.rotate([yaw, pitch, roll]) -> sets projection's three-axis rotation
    // projection.scale([scale]) -> scale factor of projection
    // projection.clipAngle -> semi-fog of war, how much degree to displaya
    // projection.translate([x, y]) -> offset projection's center coordinate
    var path = d3.geoPath().projection(proj).pointRadius(1);
    // d3.geo.path() -> given geoJSON object -> generate a SVG path
    var graticule = d3.geoGraticule();
    // graticule -> vertical and horizontal grid lines 
    // -> returns a GeoJSON MultiLineString Geometry object representing all meridians and parallels
    var svg = body.append("div").append("svg")
        .attr("width", width)
        .attr("height", height)
        .attr("x", 0)
        .attr("y", 0)
        .attr("position", "absolute")
        .on("mousedown", mousedown)
        .on("mouseup", moveDestination);
    
    const totalCountryList = ["DPRK", "USA", "Korea", "Russia", "ROC", "Japan", "Mexico", "India", "Phillipines", "Vietnam"];
    var techWidth = 960, techHeight = 600;

    var GodMode = body.select("#GodModeDiv")
        .style("display", "none")
        .style("position", "absolute")
        .style("background-color", "black")
        .style("top", 0)
        .style("left", 0)
        .style("width", screen.width+"px")
        .style("height", screen.height+"px");

    // Append group for containing hover info.
    var toolTip = body.append("div")
        .style("opacity", 0);
    // asynchronous task assignment.
    d3.queue()
        .defer(d3.json, "world-110m.json")
        .defer(d3.json, "places.json")
        .await(ready);
    // svg -> defs: graphical macro for later use (not rendered immdiately)
    var emptyGeoCircle = d3.geoCircle().radius(0)();
    var emptyGeoLineString = {
        "type": "LineString",
        "coordinates": [ [0,0], [0,0] ]
    };
    var currentTroop = null;

    function ready(error, world, places) {
        if (error) throw error;
        var ocean_fill = svg.append("defs").append("radialGradient")
            .attr("id", "ocean_fill")
            .attr("cx", "75%")
            .attr("cy", "25%");
        // center of the ocean gradient
        ocean_fill.append("stop").attr("offset", "5%").attr("stop-color", "#ddf");
        ocean_fill.append("stop").attr("offset", "100%").attr("stop-color", "#9ab");
        // sunshine in the land
        var globe_highlight = svg.append("defs").append("radialGradient")
            .attr("id", "globe_highlight")
            .attr("cx", "75%")
            .attr("cy", "25%");
        globe_highlight.append("stop")
            .attr("offset", "5%").attr("stop-color", "#ffd")
            .attr("stop-opacity","0.6");
        globe_highlight.append("stop")
            .attr("offset", "100%").attr("stop-color", "#ba9")
            .attr("stop-opacity","0.2");
        var globe_shading = svg.append("defs").append("radialGradient")
            .attr("id", "globe_shading")
            .attr("cx", "50%")
            .attr("cy", "40%");
        globe_shading.append("stop")
            .attr("offset","50%").attr("stop-color", "#9ab")
            .attr("stop-opacity","0")
        globe_shading.append("stop")
            .attr("offset","100%").attr("stop-color", "#3e6184")
            .attr("stop-opacity","0.3")
        var drop_shadow = svg.append("defs").append("radialGradient")
            .attr("id", "drop_shadow")
            .attr("cx", "50%")
            .attr("cy", "50%");
        drop_shadow.append("stop")
            .attr("offset","20%").attr("stop-color", "#000")
            .attr("stop-opacity",".5")
        drop_shadow.append("stop")
            .attr("offset","100%").attr("stop-color", "#000")
            .attr("stop-opacity","0")
        // Shadow on the floor
        svg.append("ellipse")
            .attr("cx", width / 2 * 0.975).attr("cy", height / 2 * 1.6)
            .attr("rx", proj.scale()*.90)
            .attr("ry", proj.scale()*.25)
            .attr("class", "noclicks")
            .style("fill", "url(#drop_shadow)");
        // url(#patternDefinedInDefs)
        
        // ocean circle
        svg.append("circle")
            .attr("cx", width / 2).attr("cy", height / 2)
            .attr("r", proj.scale())
            .attr("class", "noclicks")
            .style("fill", "url(#ocean_fill)");
        // land color
        preD = topojson.feature(world, world.objects.land);
        svg.append("path")
            .datum(topojson.feature(world, world.objects.land))
            .attr("class", "land")
            .attr("d", path);
        postD = path(preD);
        // set verticals and parallel lines
        svg.append("path")
            .datum(graticule)
            .attr("class", "graticule noclicks")
            .attr("d", path);
        
        // points of locations
        pntD = places.features;
        svg.append("g").attr("class","points")
            .selectAll("text").data(places.features)
            .enter().append("path")
            .attr("class", "point")
            .attr("d", path);
        svg.append("g").attr("class","labels")
            .selectAll("text").data(places.features)
            .enter().append("text")
            .attr("class", "label")
            .text(function(d) { return d.properties.name });
            //.attr("mask", "url(#visionMask)");
        // sun shine land brighter
        svg.append("circle")
            .attr("cx", width / 2).attr("cy", height / 2)
            .attr("r", proj.scale())
            .attr("class","noclicks")
            .style("fill", "url(#globe_highlight)");
        // shadows on the side
        svg.append("circle")
            .attr("cx", width / 2).attr("cy", height / 2)
            .attr("r", proj.scale())
            .attr("class","noclicks")
            .style("fill", "url(#globe_shading)");
        // Group for containing resource points.
        svg.append("g")
            .attr("class", "resources");
        var emptyCircle = d3.geoCircle().radius(0);
        // Append destination red dot.
        svg.append("path")
            .datum(emptyCircle())
            .attr("id", "destDot")
            .attr("d", path)
            .style("fill", "red");
        // Add doted path to destination.
        svg.append("path")
            .attr("id", "destPath")
            .style("stroke", "red")
            .style("fill", "none")
            .style("stroke-dasharray", "2, 2");
        // Append group for containing myTroops.
        svg.append("g")
            .attr("id", "myTroopGroup");
        // Append group for containing otherTroops.
        svg.append("g")
            .attr("id", "otherTroopGroup");
        position_labels();
        updateTechTree();
    }
    function position_labels() { //how labels chage their angle
        var centerPos = proj.invert([width/2,height/2]);

        svg.selectAll(".label")
            .attr("text-anchor",function(d) {
                var x = proj(d.geometry.coordinates)[0];
                return x < width/2-20 ? "start" :
                        x < width/2+20 ? "middle" : 
                        "end"
            })
            .attr("transform", function(d) {
                var loc = proj(d.geometry.coordinates),
                x = loc[0],
                y = loc[1];
                var offset = x < width/2 ? 5 : -5;
                return "translate(" + (x+offset) + "," + (y-2) + ")"
            })
            .style("display",function(d) {
                var d = d3.geoDistance(d.geometry.coordinates, centerPos);
                return (d > 1.3) ? 'none' : 'inline';
            });
        svg.selectAll(".point")
            .style("display",function(d) {
                var d = d3.geoDistance(d.geometry.coordinates, centerPos);
                return (d > 1.3) ? 'none' : 'block';
            });
        // Troop must disappear outside of sphere.
        svg.selectAll(".myTroop")
            .style("display",function(d) {
                var d = d3.geoDistance(d.loc, centerPos);
                return (d > 1.3) ? 'none' : 'block';
            });
        svg.selectAll(".notMyTroop")
            .style("display",function(d) {
                var d = d3.geoDistance(d.loc, centerPos);
                return (d > 1.3) ? 'none' : 'block';
            });
    }
    var m0, o0;
    function mousedown() {
        // d3.event => current event, if any.
        m0 = [d3.event.pageX, d3.event.pageY];
        o0 = proj.rotate();
        d3.event.preventDefault();
    }
    function mousemove() {
        if (m0) {
            var m1 = [d3.event.pageX, d3.event.pageY], 
                o1 = [o0[0] + (m1[0] - m0[0]) / 6, o0[1] + (m0[1] - m1[1]) / 6];
            /*
            o1[1] = o1[1] > 30  ? 30  :
                    o1[1] < -30 ? -30 :
                    o1[1];
            */
            proj.rotate(o1);
            refresh();
        }
    }
    function setSelectedAsNone(){
        svg.select("#destDot")
            .datum(emptyGeoCircle)
            .attr("d", path);
        svg.select("#destPath")
            .datum(emptyGeoLineString)
            .attr("d", path);
    }
    function moveDestination(){
        if (m0[0] == d3.event.pageX && m0[1] == d3.event.pageY) {
            console.log(proj.invert([d3.event.pageX - 7, d3.event.pageY - 7]));
            var centerPos = proj.invert([width/2,height/2]);
            var arc = d3.geoDistance;
            var d = arc(proj.invert([d3.event.pageX - 7, d3.event.pageY - 7]), centerPos);
            if (currentTroop != null && d3.event.target != currentTroop._groups[0][0] && d < Math.PI / 2) {
                // send request to change dest.
                currentTroop.data()[0].dest = proj.invert([d3.event.pageX - 7, d3.event.pageY - 7]);
                $.ajax(
                    `${serverURL}/updateDest`, {
                        method: 'post',
                        data: currentTroop.data()[0]
                    }
                )
                var destDot = d3.geoCircle().center(currentTroop.data()[0].dest).radius(0.7);
                svg.select("#destDot")
                    .datum(destDot)
                    .attr("d", path);
                // Render the path.
                var pathLineString = {
                    "type": "LineString",
                    "coordinates": [
                        currentTroop.data()[0].loc, currentTroop.data()[0].dest
                    ]
                };
                // console.log(pathLineString);
                var destPath = d3.geoPath(pathLineString);
                // console.log(destPath());
                svg.select("#destPath")
                    .datum(pathLineString)
                    .attr("d", path);
                // console.log(currentTroop.data()[0].loc);
                // console.log(currentTroop.data()[0].dest);
            }
        }
    }
    function mouseup() {
        if (m0) {
            mousemove();
            m0 = null;
        }
    }
    function refresh() {
        svg.selectAll(".land").attr("d", path);
        svg.selectAll(".countries path").attr("d", path);
        svg.selectAll(".graticule").attr("d", path);
        svg.selectAll(".point").attr("d", path);
        svg.selectAll(".fog").attr("d", path);
        svg.selectAll(".fogMask").attr("d", path);
        svg.select("#focusTroop").attr("d", path);
        svg.selectAll(".myTroop")
            .attr("x", function(d){return proj(d.loc)[0]})
            .attr("y", function(d){return proj(d.loc)[1]});
        svg.selectAll(".notMyTroop")
            .attr("x", function(d){return proj(d.loc)[0]})
            .attr("y", function(d){return proj(d.loc)[1]});
        svg.select("#destDot").attr("d", path);
        svg.select("#destPath").attr("d", path);
        svg.selectAll(".resource").attr("d", function(d){
                return path(d.path);
            });
        svg.selectAll(".attackRange").attr("d", path);
        position_labels();
    }
    function updateResource(resourcePoints){
        // Data join.
        var resources = svg.select(".resources").selectAll(".resource")
            .data(function(){
                var resourceCircle = [];
                resourcePoints.forEach(function(d){
                    var r = d3.geoCircle().center(d.loc).radius(d.range)();
                    resourceCircle.push(r);
                    d.path = r;
                });
                return resourcePoints;
            });
        // Append new and merge.
        resources.enter().append("path")
            .attr("class", "resource")
            .attr("fill", "red")
            .style("fill-opacity", "0.2")
            .attr("stroke", "red")
            .style("stroke-opacity", 0.4)
            .style("stroke-width", 1)
            .style("stroke-dasharray", "5, 5")
            .on("mousedown", function(d, i){
                if (currentTroop == null) {
                    $.post(
                        `${serverURL}/mineResource`, {
                            "country": myCountry,
                            "resourceID": d.id
                        }
                    );
                }
            })
            .on("mouseover", function(d){
                toolTip.attr("class", "toolTipResource")
                    .transition()
                    .duration(200)
                    .style("opacity", 0.9);
                toolTip.style("left", (d3.event.pageX) + "px")
                    .style("top", (d3.event.pageY - 42) + "px")
                    .style("height", function(){
                        return 14*(Object.keys(d.award).length + 1) + "px";
                    })
                    .html(function(){
                        var str = "Cost: $" + d.cost + "<br/>";
                        for(var category in d.award){
                            str += category + ": " + d.award[category] + "<br/>";
                        }
                        return str;
                    });    
            })
            .on("mouseout", function(){
                toolTip.transition()        
                    .duration(500)      
                    .style("opacity", 0);
            })
        .merge(resources)
            .attr("d", function(d){
                return path(d.path);
            });
        // Remove excess elements.
        resources.exit().remove();
    }
    function updateTroop(selfTroops, otherTroops){
        // Update checkbox.
        d3.select("#friendOrEnemyContainer").selectAll("input")
            .filter(function(d) { return d == selfTroops.Nation}).property("disabled", "true")
        
        // Data join.
        var attackRange = svg.select("#myTroopGroup")
            .selectAll("path")
            .data(function(){
                var aryAttackR = [];
                selfTroops.Troops.forEach(function(d){
                    var attackRCircle = d3.geoCircle().center(d.loc).radius(d.attackR)();
                    aryAttackR.push(attackRCircle);
                });
                return aryAttackR;
            });
        // Append new data, merge, and update.
        attackRange.enter().append("path")
            .attr("class", "attackRange")
        .merge(attackRange)
        .attr("d", path);
        // Remove excess element.
        attackRange.exit().remove();

        var myTroops = svg.select("#myTroopGroup")
            .selectAll("image")
            .data(selfTroops.Troops);
        myTroops.enter()
            .append("image")
            .attr("href", selfTroops.Nation + ".png")
            .attr("class", "myTroop")
            .attr("height", 10)
            .attr("width", 10)
            .property("selected", false)
            .on("mousedown", function(data, index){
                // Reset all selected forall other nodes.
                svg.selectAll(".myTroop")
                    .filter(function(d, i) { return i != index})
                    .property("selected", false);
                // Modify this troop.
                currentTroop = d3.select(this);
                currentTroop.property("selected", !currentTroop.property("selected"));
                var newCircle = null;
                var opacityValue = 0.3;
                // Render red dot.
                if (currentTroop.data()[0].dest != null) {
                    var destDot = d3.geoCircle().center(currentTroop.data()[0].dest).radius(1);
                    var theDest = svg.select("#destDot")
                        .datum(destDot)
                        .attr("opacity", 0)
                        .attr("d", path);
                    theDest.transition()
                        .duration(400)
                        .attr("opacity", 1);
                    // Render the path.
                    var pathLineString = {
                        "type": "LineString",
                        "coordinates": [
                            currentTroop.data()[0].loc, currentTroop.data()[0].dest
                        ]
                    };
                    var destPath = d3.geoPath(pathLineString);
                    var thePath = svg.select("#destPath")
                        .datum(pathLineString)
                        .attr("opacity", 0)
                        .attr("d", path);
                    thePath.transition()
                        .duration(400)
                        .attr("opacity", 1);
                }
                else {
                    setSelectedAsNone();
                }
                if (currentTroop.property("selected")) {
                    var src = currentTroop.data()[0];
                    newCircle = d3.geoCircle()
                        .center([src.loc[0], src.loc[1]])
                        .radius(src.attackR);
                    svg.select("#focusTroop")
                        .style("opacity", 0)
                        .datum(newCircle())
                        .attr("d", path);
                }
                else {
                    opacityValue = 0;
                    currentTroop = null;
                    svg.select("#destDot")
                        .datum(emptyGeoCircle)
                        .attr("d", path);
                    svg.select("#destPath")
                        .datum(emptyGeoLineString)
                        .attr("d", path);
                }

                svg.select("#focusTroop")
                    .transition()
                    .duration(300)
                    .style("opacity", opacityValue);
            })
            .on("mouseover", function(d){
                toolTip.attr("class", "toolTipSelf")
                    .transition()
                    .duration(200)
                    .style("opacity", 0.9);
                toolTip.html(function(){
                        var str = "#" + d.id + "<br/>"
                                + "AD: " + Math.round(d.size * d.unitAD) + "<br/>"
                                + "HP: " + Math.round(d.size * d.unitHP) + "<br/>";
                        return str;
                    })
                    .style("left", (d3.event.pageX) + "px")
                    .style("top", (d3.event.pageY - 42) + "px");    
            })
            .on("mouseout", function(){
                toolTip.transition()        
                    .duration(500)      
                    .style("opacity", 0);
            })
            .attr("transform", function(d){
                var output = "translate(-" + (d.fogR/2) + ",-" + (d.fogR/2) + ")"
                return output;
            })
            .merge(myTroops);
        // Update currentTroop.
        if (currentTroop != null) {
            var countryName = currentTroop.data()[0].country;
            var countryID = currentTroop.data()[0].id;
            currentTroop = svg.selectAll(".myTroop")
                .filter(function(d) { return d.id == countryID});
            // Render red dot.
            if (currentTroop.data()[0].dest != null) {
                var destDot = d3.geoCircle().center(currentTroop.data()[0].dest).radius(1);
                var theDest = svg.select("#destDot")
                    .datum(destDot)
                    .attr("opacity", 1)
                    .attr("d", path);
                // Render the path.
                var pathLineString = {
                    "type": "LineString",
                    "coordinates": [
                        currentTroop.data()[0].loc, currentTroop.data()[0].dest
                    ]
                };
                var destPath = d3.geoPath(pathLineString);
                var thePath = svg.select("#destPath")
                    .datum(pathLineString)
                    .attr("opacity", 1)
                    .attr("d", path);
            }
            else {
                svg.select("#destDot")
                    .datum(emptyGeoCircle)
                    .attr("d", path);
                svg.select("#destPath")
                    .datum(emptyGeoLineString)
                    .attr("d", path);
            }
        }
        // Update other troop.
        var otherTroop = svg.select("#otherTroopGroup")
            .selectAll("image")
            .data(otherTroops.Troops);
        otherTroop.enter()
            .append("image")
            .attr("href", function(d){
                return d.country + ".png";
            })
            .attr("class", "notMyTroop")
            .attr("height", 10)
            .attr("width", 10)
            .attr("transform", "translate(-5,-5)")
            .on("mouseover", function(d){
                toolTip.attr("class", "toolTipOther")
                    .transition()
                    .duration(200)
                    .style("opacity", 0.9);
                toolTip.html(function(){
                        var str = d.country + "<br/>"
                                + "#" + d.id + "<br/>"
                                + "AD: " + d.AD + "<br/>"
                                + "HP: " + d.HP + "<br/>";
                        return str;
                    })
                    .style("left", (d3.event.pageX + 15) + "px")
                    .style("top", (d3.event.pageY - 40) + "px");    
            })
            .on("mouseout", function(){
                toolTip.transition()        
                    .duration(500)      
                    .style("opacity", 0);
            })
            .merge(otherTroop);
        // Refresh display.
        refresh();
    }

    let countryData = {};
    let otherData = {};
    const myCountry = 'god';
    const serverURL = 'http://rootn.rocks:8000/api';

    setInterval(function(){
        $.get(`${serverURL}/getMyTroops`, { country: myCountry}, function (data, status) {
            countryData = data.countryData;
            otherData = data.otherData;
            updateTroop(data.countryData, data.otherData)
        });
        $.get(`${serverURL}/resourcePoint`, function (data, status) {
            updateResource(data);
        });
    }, 1000);
    function updateTechTree(){
        $.get(`${serverURL}/techTree`, {country: myCountry} , function (data, status) {
          
        });
    }
</script>

</body>